.buble-warning {
    width: 320px;
    height: 340px;
    text-align: center;
    background-color: snow;
    margin: 200px auto ;
    border: 3px black solid;
    border-radius: 10%;
}
.buble-cancel-btn {
    background-color: red;
}

.buble-aprove-btn {
    background-color: deepskyblue;
}

h2 {
    padding: 10px 0 40px;
}
.buble-warning button {
    border: 3px solid;
    margin: 0.5em;
    padding: 1em 2em;
    transition: 0.25s;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
    
}

button:hover {
    color: #9ea5dd;
    font-weight: bold;
}
