.form-add-request, .form-add-report, .form-request {
    display: flex;
    flex-direction: column;
}

.form-add-request {
    width: 55%;
}
.form-request {
    align-items: center;
}
button {
    cursor: pointer;
}

.request-list {
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 10px;
    background-color: rgba(221, 11, 11, 0.1);
    border: 2px solid #ccc;
    border-radius: 8px;
    min-width: 240px;
}

.request-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.request-item {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px; 
    min-width: 0px;
    border-radius: 10px;
    border: 2px solid lightgray;
}

.request-delete-btn {
    background-color: red;
    justify-content: center;
    min-width: 10px;
    max-width: 1%;
}

.report-item {
    padding: 10xp 10px 10px 100px;  
    margin: 10px 0px 0px 0px;
    background-color: rgb(191, 194, 193);
    min-width: 0px;
    border-radius: 0 0 10px 0px;
    border: lightgray 2px solid;
}